:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: rgb(20, 20, 20) !important;
  text-decoration: none !important;
}

button:hover {
  background-color: none !important;
}

.nav-link {
  color: gray !important;
  font-weight: bold;
}

.nav-item .nav-link.active {
  color: black !important;
}

.card {
  background-color: rgb(243, 243, 243) !important;
  border: solid 2px white !important;
}

.card:hover {
  border: solid 2px black !important;
}

.card-header {
  border-bottom: none !important;
}

.btn-primary {
  background-color: black !important;
  border: none;
}

.btn-secondary {
  background-color: black !important;
  border: none;
}

.btn-link {
  color: black !important;
  font-weight: bold;
}

.input-group-text {
  background-color: white;
  border: solid 0.5px gray;
}

.form-control,
.form-select {
  border: solid 0.5px gray;
}

h1 {
  color: rgb(20, 20, 20) !important;
  font-weight: bolder !important;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  background-color: white;
}

.container {
  height: auto;
}
